[DEFAULT]
arch = i386
mem = 512
rootsize = 2048
swapsize = 512
hostname = master-host
domain = ${domain}
mirror = http://mirror.anl.gov/pub/ubuntu/
ip = ${ip}
mask = 255.255.0.0
gw = ${gw}
dns = ${gw}
name = Grid Admin
user = gridadmin
pass = gridadmin
execscript = ${dgl}/lib/uvb/${execscript}
copy = ${dgl}/lib/uvb/${copy}

[ubuntu]
suite = lucid 
components = main, universe
addpkg = openssh-server, mc, ssh, wget
